stack-data==0.6.2
tifffile==2022.10.10
wcwidth==0.2.13
jsonschema-specifications==2023.7.1
mkl-service==2.4.0
nvidia-cuda-nvrtc-cu12==12.1.105
typeguard==4.2.1
idna==3.7
smmap==5.0.1
platformdirs==4.2.2
jupyter_core==5.7.2
ptyprocess==0.7.0
jaxtyping==0.2.19
rfc3986-validator==0.1.1
pillow==10.4.0
SimpleITK==2.2.1
prometheus-client==0.14.1
gevent-websocket==0.10.1
openpyxl==3.1.5
GPy==1.13.2
paramz==0.9.6
sentry-sdk==2.17.0
kiwisolver==1.4.5
kiwisolver==1.4.4
Cython==3.0.11
tqdm==4.66.4
pexpect==4.9.0
nibabel==5.2.1
tomli==2.0.1
greenlet==3.1.0
nvidia-nvtx-cu12==12.1.105
exceptiongroup==1.2.2
colorama==0.4.6
gitdb==4.0.11
charset-normalizer==3.3.2
ipykernel==6.29.5
cycler==0.12.1
cycler==0.11.0
argon2-cffi-bindings==21.2.0
torchinfo==1.8.0
jupyterlab-pygments==0.1.2
nvidia-cudnn-cu12==9.1.0.70
scipy==1.10.1
rpds-py==0.10.6
altgraph==0.17.4
nbconvert==7.10.0
auto-py-to-exe==2.44.1
beautifulsoup4==4.12.3
rich==13.7.1
PyYAML==6.0.1
pytz==2024.1
jupyterlab_server==2.27.3
json5==0.9.6
jedi==0.19.1
nvidia-cuda-cupti-cu12==12.1.105
prompt_toolkit==3.0.47
filelock==3.13.1
filelock==3.15.4
imagecodecs==2022.9.26
Eel==0.17.0
protobuf==5.28.3
nvidia-nccl-cu12==2.20.5
h11==0.14.0
et-xmlfile==1.1.0
nvidia-cuda-runtime-cu12==12.1.105
defusedxml==0.7.1
nest_asyncio==1.6.0
executing==2.0.1
importlib_resources==6.4.0
wrapt==1.14.1
zipp==3.20.0
Babel==2.11.0
pyzmq==25.1.2
contourpy==1.2.1
contourpy==1.2.0
joblib==1.4.2
huggingface_hub==0.24.6
jupyter_server_terminals==0.4.4
numpy==1.24.3
threadpoolctl==3.5.0
mistune==2.0.4
notebook==7.2.2
torch==2.4.1
torch==2.4.0
six==1.16.0
anyio==4.2.0
lazy_loader==0.4
soupsieve==2.5
mdurl==0.1.0
bottle-websocket==0.2.9
imageio==2.33.1
websocket-client==1.8.0
python-Levenshtein==0.12.2
nbclient==0.8.0
PySocks==1.7.1
wandb==0.18.5
notebook_shim==0.2.3
jupyterlab==4.2.5
jupyter_server==2.14.1
gpytorch==1.13
httpcore==1.0.2
whichcraft==0.6.1
nvidia-cublas-cu12==12.1.3.1
referencing==0.30.2
wheel==0.43.0
traitlets==5.14.3
pyparsing==3.0.9
pyparsing==3.1.2
setuptools==72.1.0
unicodedata2==15.1.0
mkl-random==1.2.2
setproctitle==1.3.3
pip==24.2
jupyter_client==8.6.2
rfc3339-validator==0.1.4
networkx==3.3
fastjsonschema==2.16.2
torchaudio==2.4.1
triton==3.0.0
triton==3.0.0
shellingham==1.5.0
future==0.18.3
pyinstaller-hooks-contrib==2024.8
pandas==2.2.2
tzdata==2023.3
Pygments==2.18.0
gevent==24.2.1
nvidia-cusolver-cu12==11.4.5.107
Deprecated==1.2.13
cffi==1.16.0
fonttools==4.53.1
fonttools==4.51.0
typer==0.9.0
sniffio==1.3.0
docker-pycreds==0.4.0
bottle==0.13.1
matplotlib==3.9.2
matplotlib==3.8.4
monai==1.3.2
MarkupSafe==2.1.3
MarkupSafe==2.1.5
pooch==1.7.0
opencv-python==4.6.0
pure_eval==0.2.3
Send2Trash==1.8.2
packaging==24.1
jsonschema==4.19.2
nvidia-curand-cu12==10.3.2.106
mpmath==1.3.0
torchvision==0.19.1
humanize==3.10.0
Jinja2==3.1.4
tornado==6.4.1
gmpy2==2.1.2
nbformat==5.9.2
psutil==6.0.0
matplotlib-inline==0.1.7
mkl-fft==1.3.1
nvidia-cusparse-cu12==12.1.0.106
terminado==0.17.1
async-lru==2.0.4
python-json-logger==2.0.7
argon2-cffi==21.3.0
linear_operator==0.5.3
click==8.1.7
seaborn==0.13.2
scikit-image==0.23.2
attrs==23.1.0
GitPython==3.1.43
ipython==8.26.0
comm==0.2.2
zope.event==5.0
numexpr==2.8.4
pyinstaller==6.10.0
python-dateutil==2.9.0.post0
nvidia-nvjitlink-cu12==12.6.20
bleach==4.1.0
sympy==1.13.2
importlib_metadata==8.4.0
pickleshare==0.7.5
asttokens==2.4.1
zope.interface==7.0.3
scikit-learn==1.5.1
Bottleneck==1.3.7
debugpy==1.6.7
torchio==0.19.9
urllib3==2.2.2
webencodings==0.5.1
pandocfilters==1.5.0
fsspec==2024.6.1
tinycss2==1.2.1
markdown-it-py==2.2.0
decorator==5.1.1
overrides==7.4.0
nvidia-cufft-cu12==11.0.2.54
httpx==0.27.0
fuzzywuzzy==0.18.0
jupyter-events==0.10.0
certifi==2024.8.30
parso==0.8.4
typing_extensions==4.12.2
pycparser==2.21
pydicom==2.4.4
requests==2.32.3
Brotli==1.0.9
jupyter-lsp==2.2.0
platformdirs==4.2.2
tomli==2.0.1
inflect==7.3.1
importlib_resources==6.4.0
ordered-set==4.1.0
more-itertools==10.3.0
wheel==0.43.0
jaraco.context==5.3.0
autocommand==2.2.2
packaging==24.1
typeguard==4.3.0
importlib_metadata==8.0.0
backports.tarfile==1.2.0
zipp==3.19.2
jaraco.text==3.12.1
jaraco.functools==4.0.1
typing_extensions==4.12.2
